@import "pages/Variables.scss";

$wid:40vmin;

.login-main-logo {
    width: 25vmin;
    display: block;
    margin: 2vmin auto;
}

/* 
input[type="checkbox"] {
    cursor: pointer;
    border-radius: 50% !important;
    background-color: blue;
}
*/

input {
    width: $wid;
    height: 5vmin;
    padding: 2vmin 4vmin;
    display: inline-block;
    border: 0.1vmin solid #ccc;
    box-sizing: border-box;
    background-color: #f2f2f2;
    font-size: 2vmin;
  }
  .first-input {
    margin-top: 2vmin;
    border-top-left-radius: 1vmin;
    border-top-right-radius: 1vmin;
  }

  .last-input {
    margin-bottom:1vmin;
    border-bottom-left-radius:1vmin;
    border-bottom-right-radius:1vmin;
  }


#login-a, button[type=submit]{
    width: $wid;
    height: 5vmin;
    font-size: 2vmin;
    border-radius: 4px;
    border:none;
    background-color:$checker-blue;
    color:#ffffff;
    text-decoration: none;
    cursor: pointer;
  }

  .s-mng-btns {
      display: flex;
      justify-content: space-between;
      font-size: 1.5vmin;
      padding:1vmin;
  }

  .hr {
    width: $wid;
    border: 0.1vmin solid #ccc;
    margin: 5vmin 0;
  }

  h5 {
    font-family: NotoSansCJKkr;
    font-size: 3vmin;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #262626;
  }
  .athrz-btn {
    background-color: #262626 !important;
}

.inner {
    width: 100%;
    overflow: auto;
    height: 100%;
    padding-right: 80px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box;
}

.label_login_chk{
    font-size: 2vmin;
    color: #262626;
    display:block;
    float:left;
 
}

input#login_chk {
    cursor: pointer;
    width:2vmin;
    height: 2vmin;
    border-radius: 0.1vmin;
}

