@import 'pages/Variables.scss';



.login-bg  {
    background:#0037a6;
    width:100%;
    height: 100vh;
    text-align:center;
    z-index:-1;
    overflow-y: scroll;
    background: linear-gradient(to bottom, $checker-blue 0%,$checker-blue 50%,#f4f4f4 50%,#f4f4f4 100%);
    }


.logo {
    margin-top:10vmin;
    width: 30vmin;
}

.main-no-logo {
    visibility: hidden;
    margin-top:0;
}


.login-container {

    width: 50vmin;
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 5vmin 5vmin;
    padding-bottom: 13vmin;
    border-radius: 2vmin;
    z-index:1;
    margin: 5vmin auto;
    margin-bottom: 20vmin;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height:auto;
    
}
