.modal-header {
    background-color: black;
    color:white;
    height: auto;
    width: 100%;
    display:flex;
    justify-content:center;
    flex-direction: column;
    
}

hr#askhr {
    width:40vmax;
}

.modal-box {
    padding:0;
    background-color:black;
}

.modal-content {
    padding:5vmin;
}

img.ask-logo {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100px;
    margin-left:40%;
    margin-top:20px;
}

