@import 'styles/utils.scss';
@import 'pages/Variables.scss';


.page-template {

    .both-navibox{
            background: $oc-gray-1;
            min-height: calc(100vh - 27vmin);
            display:flex;
            width: 100%;
            .navibox-for-margin{
                display:flex;
                width:auto;
                margin:0 auto;
                .navionly {
                    margin-top: $manager-margin-top;
                    
                }
                .details-box {
                    display:flex;
                }        
            }
    } 
}