@import 'pages/Variables.scss';

ol.tab-list {
    padding: 0;
    margin-left: $manager-margin-left;
    margin: 0;
    cursor: pointer;
}

.tabs {
    margin-left: $manager-margin-left;
    margin-top: $manager-margin-top;
    font-size: 2vmin;
}
.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  background-color: #d8d8d8;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 0.1vmin 0.1vmin 0 0.1vmin;
}