@import 'pages/Variables.scss';

.box {
    border-radius: 1vmin;
    border: solid 0.1vmin #ccc;
    background-color: #ffffff;
    margin-left:$manager-margin-left;
    width:60vmax;
}

.box.sw {
    margin-left:0;
    border-top-left-radius: 0;
}

.box.first {
    margin-top:$manager-margin-top;
}

div.styles_modal__gNwvD {
    padding:0;
}

button.styles_closeButton__20ID4 {
    top:0;
    right:3px;
    fill:white;
    width:20px;
}
