.image-slide {
   
    img {
        width:20vmax;
    }
}

.carousel {
    display:flex;
    align-items:center;
    margin:5vmin auto;
    width:30vmax;
    justify-content: center;
}
.testtest {
    display:flex;
}

.slide-arrow {
    margin:3vmin;
}


