.image-slide {
    width:40vmin;
    img {
        width:100%;
    }
    
}

.carousel {
    display:flex;
    align-items:center;
    margin:10px auto;
    width:auto;
}
.slide-arrow {
  margin:5vmin;
}