.footer {
    
    height: 15vmin;
    background-color: #262626;
    color:#FFFFFF;
    font-size:2vmin;
    display:flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    width:100%;
}